/* Elimina margin y padding por defecto de los navegadores */
* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px; /* Agregar espacio alrededor del contenido */
}

nav {
    position: sticky; /* Mantiene su posicion al hacer scroll */
    top: 0; /* se quedara en el borde superior al hacer scroll */
}

/* Estilo del contenido principal */
main {
    position: relative; /* Posicion relativa para que <aside> se mueva dentro de este contenedor*/
}

/* Estilo para la lista */
ul {
    text-align: center;
    background-color: bisque;
}

/* Estilo para los elementos de la lista*/
li {
    display: inline;
    text-transform: uppercase; /* Todos los caracteres ser convierten a mayúsculas */
    padding: 20px; /* Agregar espacio dentro de cada elementos de la lista */
}

section {
    position: relative; /* Permite mover el <section> sin afectar a los otros elementos. */
    background-color: whitesmoke;
    padding: 20px;
}

aside {
    position: absolute;  /* Posicion fija respecto al contenedor */
    top: 50%;
    right: 0; /* Coloca el aside a la derecha del contenedor */
    background-color: grey;
}

footer {
    position: fixed; /* Mantiene el footer en una posicion fija a diferencia de sticky*/
    bottom: 0; /* Se posiciona abajo de la pantalla */
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
}